<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt Auswahl</title>
    <link rel="stylesheet" href="./assets/style.css">
    <script src="./assets/hours-projects.js" defer></script>
</head>
<body id="app">
    <div class="container">
       <div class="logo">
            <img src="./assets/img/sbw+neue-medien.svg" alt="logo SBW Neue Medien">
       </div>

        <div class="form-box">
            <form action="/dashboard.html" @submit.prevent="submitData">
                <label for="projekt">Projekt:</label>
                <div id="app">
                    <select v-model="NameId" v-on:change="NameSelect">
                        <option v-for="Name in Names" :value="Project.id">{{ Name }}</option>
                    </select>
                </div>

                <label for="zeitaufwand">Zeitaufwand</label>
                <input type="time" id="zeitaufwand" v-model="hoursWorked" placeholder="Stunden" min="0" required>

                <div class="buttons">
                    <button type="button" class="back-btn" onclick="window.history.back()">← Go back</button>
                    <button type="submit" class="submit">Submit →</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>